doctype html
html(lang='en')
  head
    title Partners in Reading - #{title}

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    block stylesheets
      link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap/main.css')

    block scripts
      script(src='http://code.jquery.com/jquery-2.1.3.min.js')
      script(src='javascripts/bootstrap/bootstrap.min.js')
  body
    block menu
      .navbar.navbar-inverse.navbar-static-top(role='navigation')
        .container-fluid
          .navbar-header
            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#home-navbar-collapse-1')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/'): .pir-logo-nav
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              li(class=title=='About'?'active':undefined)
                a(href='/about') About
              li(class=title=='Contact'?'active':undefined)
                a(href='/contact') Contact
              li(class=title=='Register'?'active':undefined)
                a(href='/register') Register
              li(class=title=='Sign-in'?'active':undefined)
                a(href='/login') Sign In
    block content
    block footer
      .footer
        p.text-muted
          | This is a footer #[a#top Back to Top]