<html>
  <head>

  </head>
  <body>
  <h3>Volunteer Registration</h3>
  <p>Hello {{volunteer.first_name}} {{volunteer.last_name}}!</p>
  <p>Thank you for completing the registration process.
    Please remember to confirm your email address.<br>
    If you have not already done so, please add your availability and complete any orientation and background check needed.</p>

  <p>Volunteer Details:</p>
  <table>
    <tr>
      <td>First Name</td>
      <td>{{volunteer.first_name}}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{volunteer.last_name}}</td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td>{{volunteer.phone}}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{volunteer.gender}}</td>
    </tr>
    <tr>
      <td>First Time</td>
      <td>{{volunteer.first_time}}</td>
    </tr>
    <tr>
      <td>Affiliation</td>
      <td>{{volunteer.affiliation}}</td>
    </tr>
    <tr>
      <td>Special Education</td>
      <td>{{volunteer.special_ed}}</td>
    </tr>
    <tr>
      <td>Language Education</td>
      <td>{{volunteer.language_ed}}</td>
    </tr>
    <tr>
      <td>About Me</td>
      <td>{{volunteer.about_me}}</td>
    </tr>
    <tr>
      <td>Would like two Readers</td>
      <td>{{volunteer.two_readers}}</td>
    </tr>
  </table>
  </body>
</html>